@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --background-color: #eddfe0;
  --title-color: #323030;
  --board-color: #705c53;
  --primary-font: "DynaPuff";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font), system-ui;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 32px;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 32px;
  display: flex;
  font-size: 28px;
}

.title h1 {
  font-size: 100px;
  line-height: 0.8;
  margin-right: 10px;
  font-weight: bold;
  color: var(--title-color);
}

.title p {
  width: 1px;
  line-height: 1;
  letter-spacing: 12px;
}

.player {
  display: flex;
  gap: 18px;
}

.player p {
  background-color: var(--title-color);
  color: var(--background-color);
  width: 100px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50px;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background-color: var(--board-color);
  border-radius: 5%;
  padding: 16px;
}

.box-item {
  color: var(--background-color);
  overflow: hidden;
  text-align: center;
  line-height: 96px;
  font-size: 48px;
  width: 96px;
  height: 96px;
  background-color: #323030;
  border-radius: 15%;
}

.box-item:hover {
  cursor: pointer;
}

.box-item:active {
  scale: 95%;
}

.restart {
  font-size: 18px;
  margin-top: 10px;
  opacity: 80%;
}

.restart:hover {
  opacity: 100%;
  cursor: pointer;
  font-weight: bold;
  transition: ease-in-out;
  transition-duration: 0.1s;
}

.restart:active {
  scale: 95%;
  opacity: 60%;
}
